<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common::head('Menu2')}"></head>
<body class="sb-nav-fixed">
<nav th:replace="~{common/common::cnav('Menu2')}"></nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav th:replace="~{common/common::snav('Menu2')}"></nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Menu2</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">특정 기간 내에 소비자 물가 지수와 특정 품목의 물가 지수를 보여줍니다.</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="container mb-4">
                            <div class="row">
                                시작 시점
                                <input type="month" id="startDate">
                            </div>
                        </div>
                        <!--                        <div class="card bg-primary text-white mb-4">-->
                        <!--                            <div class="card-body">Primary Card</div>-->
                        <!--                            <div class="card-footer d-flex align-items-center justify-content-between">-->
                        <!--                                <a class="small text-white stretched-link" href="#">View Details</a>-->
                        <!--                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="container mb-4">
                            <div class="row">
                                끝나는 시점
                                <input type="month" id="endDate">
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="container mt-3">
                            <div class="row">
                                <select class="form-select d-flex align-items-center"
                                        aria-label="Default select example" id="item">
                                    <option selected>품목 선택</option>
                                    <option value="쌀">쌀</option>
                                    <option value="수입쇠고기">수입쇠고기</option>
                                    <option value="생수">생수</option>
                                    <option value="빵">빵</option>
                                    <option value="휘발유">휘발유</option>
                                    <option value="경유">경유</option>
                                    <option value="도시가스">도시가스</option>
                                    <option value="전기료">전기료</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="container mt-3">
                            <div class="row d-flex align-items-center">
                                <div class="col d-flex align-items-center justify-content-end">
                                    <button id="graph" class="btn btn-dark ">그래프</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body">
                                <canvas id="myLineChart" width="100%" height="40"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-bar me-1"></i>
                                Bar Chart Example
                            </div>
                            <div class="card-body">
                                <img id="image" width="100%" height="100%" src="http://localhost:5000/menu2/default">
                            </div>
                        </div>
                    </div>
                </div>
                설명설명설명 설명설명설명 설명설명설명 설명설명설명설명설명설명 설명설명설명 설명설명설명설명설명설명설명설명설명설명설명설명 설명설명설명설명설명설명설명설명설명 설명설명설명
                설명설명설명설명설명설명설명설명설명 설명설명설명설명설명설명설명설명설명설명설명설명 설명설명설명설명설명설명설명설명설명설명설명설명
                <div class="card mb-4">설명설명설명</div>
            </div>
        </main>
        <footer th:replace="~{common/common::cfooter('main')}"></footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/menu2-lineChart.js"></script>
<script src="/js/menu2-ajax-handler.js"></script>
</body>
</html>
